{% extends "base.html" %}
{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">

                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content"  id="nav-tabContent">

                    <!-- El tab panel del contenido -->
                    <div class="tab-pane show active" id="contenido" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-6">
                                        <table class="table table-borderless table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tema Material</th>
                                                    <th>Indicadores</th>
                                                    <th>Responsáveis</th>
                                                    <th>Validadores</th>
                                                    <th>Status</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            {% for dado_formulario in dados_formularios %}
                                            {% if dado_formulario.formulario.ano == ano_atual%}
                                                <tr>
                                                    <td>
                                                        {% for indicador in dado_formulario.indicadores %}
                                                                {{ indicador.tema }}<br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for indicador in dado_formulario.indicadores %}
                                                            ({{ indicador.gri }})<br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for responsavel in dado_formulario.formulario.responsaveis.all %}
                                                            {{ responsavel.nome }}<br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for validador in dado_formulario.formulario.validadores.all %}
                                                            {{ validador.nome }}<br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ dado_formulario.formulario.status.get_valor_display }}</td>
                                                    <td>
                                                        <a href="{% url 'indicador' formulario_id=dado_formulario.formulario.id %}">Abrir</a>
                                                    </td>
                                                </tr>
                                            {% endif  %}
                                            {% endfor %}
                                        </table>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>     
                </div>
  
            </div>
        </div>     
    </div>
{% endblock %}
    