{% extends "base.html" %}
{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">

                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content"  id="nav-tabContent">

                    <!-- El tab panel del contenido -->
                    <div class="tab-pane show active" id="contenido" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card">
                                <div class="card-body">
                                    <div class="btn-group" role="group">
                                        {% for status in formularios_status %}
                                            <button type="button" class="btn btn-primary filter-status" data-status="{{ status.0 }}">
                                                {{ status.1 }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                    <div class="mb-6">
                                        <table class="table table-borderless table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="filter-trigger" data-filtro="tema">Tema Material <span class="filter-icon">&#9662;</span></th>
                                                    <th class="filter-trigger" data-filtro="indicadores">Indicadores <span class="filter-icon">&#9662;</span></th>
                                                    <th class="filter-trigger" data-filtro="responsaveis">Responsáveis <span class="filter-icon">&#9662;</span></th>
                                                    <th class="filter-trigger" data-filtro="validadores">Validadores <span class="filter-icon">&#9662;</span></th>
                                                    <th class="filter-trigger" data-filtro="status">Status <span class="filter-icon">&#9662;</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for dado_formulario in dados_formularios %}
                                                    {% if dado_formulario.formulario.ano == ano_atual%}
                                                        <tr>
                                                            <td class="tema">
                                                                {% for indicador in dado_formulario.indicadores %}
                                                                        {{ indicador.tema }}<br>
                                                                {% endfor %}
                                                            </td>
                                                            <td class="indicadores">
                                                                {% for indicador in dado_formulario.indicadores %}
                                                                    ({{ indicador.gri }})<br>
                                                                {% endfor %}
                                                            </td>
                                                            <td class="responsaveis">
                                                                {% for responsavel in dado_formulario.formulario.responsaveis.all %}
                                                                    {{ responsavel.nome }}<br>
                                                                {% endfor %}
                                                            </td>
                                                            <td class="validadores">
                                                                {% for validador in dado_formulario.formulario.validadores.all %}
                                                                    {{ validador.nome }}<br>
                                                                {% endfor %}
                                                            </td>
                                                            <td class="status">{{ dado_formulario.formulario.status.get_valor_display }}</td>
                                                            <td>
                                                                <a href="{% url 'indicador' formulario_id=dado_formulario.formulario.id %}">Abrir</a>
                                                            </td>
                                                        </tr>
                                                    {% endif  %}
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>     
                </div>
  
            </div>
        </div>     
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var filterButtons = document.querySelectorAll('.filter-status');
    
            filterButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var status = this.getAttribute('data-status');
                    filterTableByStatus(status);
                });
            });
    
            function filterTableByStatus(status) {
                var rows = document.querySelectorAll('.table tbody tr');
    
                rows.forEach(function(row) {
                    var rowStatus = row.querySelector('.status').innerText.trim();
                    if (status === 'all' || rowStatus === status) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }
        });
    </script>
    

{% endblock %}
    