{% extends "base.html" %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <div class="col ">
            <div class="row" >


                <div class="col-9">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="contenido-tab" data-bs-toggle="tab" data-bs-target="#contenido" type="button" role="tab" aria-controls="contenido" aria-selected="true">Conteudo</button>
                        </div>
                    </nav>
                </div>

                <div class="col">
                    <a class="btn btn-primary" href="#">Salvar Rascunho</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar Aprovação</button>
                </div>


                <div class="tab-content"  id="nav-tabContent">


                    <div class="tab-pane show active" id="contenido" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">GRI {{gri.nome}}</h5>
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Indicadores Relacionados</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for indicadores in indicadores_relacionados %}
                                                    <tr>
                                                            <td>{{indicador.tema}}</td>
                                                    </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <br  />
                            <h4>Histórico de Alterações:</h4>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ parameter.value.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse">
                                                    <label>Historico</label>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapse{{ parameter.value.id }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ parameter.value.id }}">
                                                <div class="accordion-body">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Codigo Antigo</th>
                                                                <th scope="col">Data Alterada</th>
                                                                <th scope="col">Codigo Novo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for historico in gri.historicoGRI_set.all %}
                                                                        <tr> 
                                                                            <td>{{ historico.numero_antigo}}</td>
                                                                            <td>{{ historico.ano_alteracao }}</td>
                                                                            <td>{{ historico.novo_numero }}</td>
                                                                            
                                                                        </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </main>
                    </div>
                </div>
                <!-- Button trigger modal -->
  
            </div>
        </div>     
    </div>
{% endblock content %}