
{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col mt-4" style="margin-left: 100px">
            <div class="row">
                <div class="tab" id="">
                    <main class="container">
                        <div class="card">
                            <div class="card-body p-4">
                              <div class="d-flex flex-row mt-2 justify-content-start">
                                <div style="padding-right: 7px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                  <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg>
                              </div>
                                <h5>Painel</h5>

                              </div>
                              <br/>
                                <div class="d-flex flex-row mt-2 justify-content-center">
                                    <div class="card" style="margin-right: 20px; width:40%;">
                                        <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Detalhes</h5>
                                        <div class="card-body d-flex flex-row justify-content-end" style="font-size: 18px;">
                                            <div class="d-flex flex-column align-items-end" style="padding-top: 20px; padding-right: 40px">
                                                <div class="headD">Ano</div>
                                                <div class="headD">Indicadores</div>
                                                <div class="headD">Pontos Focais</div>
                                                <div class="headD">Aprovadores</div>
                                            </div>
                                            <div class="d-flex flex-column align-items-start" style="padding: 20px">
                                                <div class="b-resutl">{{ano_atual}}</div>
                                                <div class="b-resutl">{{total_indicadores}}</div>
                                                <div class="b-resutl">33</div>
                                                <div class="b-resutl">22</div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="card" style="width:60%;">
                                        <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Status Indicadores</h5>
                                        <div class="card-body d-flex flex-column mt-2 align-items-center">
                                            <canvas id="meuGrafico" width="700" height="180"></canvas>
                                            <div id="legendaGrafico" class="d-flex flex-row"></div>
                                        </div>
                                    </div>
                                </div>
                                <br/>

                                <div class="d-flex flex-row mt-2 justify-content-center">
                                    <div class="card" style="width:100%;">
                                        <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Cronograma</h5>
                                        <div class="row">
                                          <div class="col mt-4">
                                              {{ graph_html | safe }}
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>     
    </div>

    <style>
        .b-resutl{
            border: 1px solid;
            width: 80px;
            text-align: center;
            margin-bottom : 10px;
            border-radius: 6px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* offsetX, offsetY, blurRadius, color */
            font-weight: bold;
        }

        .headD{
            font-size: 20px;
            margin-bottom: 7px
        }
          
        #legendaGrafico{
            margin-top: 16px;
            
        }
    </style>

    
    <script>
        var data = {{data|safe}}
        var labels = {{labels|safe}}

        var totalIndicadores = data.reduce((a, b) => a + b, 0);

        var porcentagens = data.map(function(valor) {
            return ((valor / totalIndicadores) * 100).toFixed(0);});

        new Chart(document.getElementById("meuGrafico"), {
            type: 'horizontalBar',
            data: {
              labels: labels,
              datasets: [
                {
                  label: false,
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                  data: data
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: false,
              },  scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        precision: 0,
                        callback: function(value, index, values) {
                            return Math.round(value);
                        }
                    }
                },
                x: { // Adicionado para configurar os ticks no eixo x
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1, // Define a unidade de passo (1 para números inteiros)
                        callback: function(value, index, values) {
                            return Math.round(value);
                        }
                    }
                }
              }
            }
        });

        var legendas = labels.map(function(label, index) {
            return label + ": " + porcentagens[index] + "%";
        });
        
        var legendaDiv = document.getElementById('legendaGrafico');
        for (var i = 0; i < labels.length; i++) {
         var legenda = document.createElement('div');
            legenda.innerHTML = `
            <span class="d-flex flex-row">
            <span style="background-color: ${["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"][i]}; width: 15px; height: 15px;margin-right: 3px; margin-top:3px; border-radius: 2px"></span>
            <span style="font-size: 13px; margin-right: 8px">${labels[i]}: ${porcentagens[i]}%</span>
            </span>
        `;
            legendaDiv.appendChild(legenda);
        } 
    </script>
 
{% endblock %}
