
{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "partials/header.html" %}

    <div class="row">
    
        {% include "partials/nav_side_bar.html" %}
        
        <div class="col mt-4" >
            <div class="row">
                <div class="tab" id="">
                    <main class="container">
                        <div class="card">
                            <div class="card-body p-4">
                              <div class="d-flex flex-row mt-2 justify-content-start">
                                <div style="padding-right: 7px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                  <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg>
                              </div>
                                <h5>Painel</h5>

                              </div>
                              <br/>
                              <div class="d-flex flex-row mt-2 justify-content-center">
                              <div class="card" style="margin-right: 20px; width:35%;">
                                  <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Geral</h5>
                                  <div class="card-body d-flex flex-row justify-content-end" style="font-size: 18px;">
                                      <div class="d-flex flex-column align-items-end" style="padding-top: 20px; padding-right: 40px">
                                          <div class="headD">Ano</div>
                                          <div class="headD">Indicadores</div>
                                          <div class="headD">Formulários</div>
                                          <div class="headD">Formularios Pendentes</div>
                                      </div>
                                      <div class="d-flex flex-column align-items-start" style="padding: 20px">
                                        <div class="b-resutl">
                                            <select id="anoDropdown" style="border: none;" onchange="atualizarTotaisEAtualizarGrafico(this.value)">
                                                {% for ano in anos %}
                                                    <option value="{{ ano }}" {% if ano == selected_ano %}selected{% endif %}>{{ ano }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="b-resutl" id="totalIndicadores">{{ total_indicadores }}</div>
                                        <div class="b-resutl" id="totalFormularios">{{ total_formularios }}</div>                                        
                                        <div class="b-resutl" id="formulariosPendentes">{{total_formularios_pendentes}}</div>
                                      </div>
                                  </div>
                              </div>
                                    <div class="card" style="width:60%;">
                                        <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Avanço da Coleta</h5>
                                        <div class="card-body d-flex flex-column mt-2 align-items-center">
                                                <canvas id="statusChart" style="width:40%; height: 80px;"></canvas>
                                                <div id="statusLegend" class="legend-container"></div>

                                        </div>
                                    </div>
                                </div>
                                <br/>

                                <div class="d-flex flex-row mt-2 justify-content-center">
                                    <div class="card" style="width:100%;">
                                        <h5 class="card-header" style="background-color: #6ba39c; color: #fff">Cronograma</h5>
                                        <div class="row">
                                          <div class="col mt-4">
                                              {{ graph_html | safe }}
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>     
    </div>

    <style>
        .b-resutl{
            border: 1px solid;
            width: 80px;
            text-align: center;
            margin-bottom : 10px;
            border-radius: 6px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* offsetX, offsetY, blurRadius, color */
            font-weight: bold;
        }

        .headD{
            font-size: 20px;
            margin-bottom: 7px
        }
          
        .legend-container {
            display: flex;
            margin-top: 10px;
        }
        
        .legend-item {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
        
        .legend-color-box {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
        
        .legend-text {
            font-size: 14px;
        }
        
        .legend-percent {
            margin-left: 5px;
            font-size: 12px;
        }
        
    </style>

    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        var myChart; 
    
        function atualizarTotaisEAtualizarGrafico(anoSelecionado) {
            $.ajax({
                type: 'GET',
                url: '/atualizar_totais/', 
                data: {'ano': anoSelecionado},
                success: function(response) {
                    $('#totalIndicadores').text(response.total_indicadores);
                    $('#totalFormularios').text(response.total_formularios);
                    $('#formulariosPendentes').text(response.total_formularios_pendentes);

        
                    // Garante que myChart seja definido antes de chamar a função
                    if (myChart && myChart.data) {
                        atualizarGrafico(response.status_data);
                        atualizarLegenda(response.status_data, response.total_formularios);
                        console.log('Dados do status:', response.status_data);

                    } else {
                        console.log('myChart não está definido ou não possui dados.');
                    }
                    
                },
                error: function(error) {
                    console.log('Erro na requisição AJAX:', error);
                }

            });
        }
        
        // Função para atualizar a legenda
        function atualizarLegenda(statusData, totalFormularios) {
            var legendContainer = $('#statusLegend');
            legendContainer.empty(); // Limpa a legenda existente
        
            var labels = Object.keys(statusData);
            var cores = ['#A4C2F4', '#B4A7D6','#FFE599', '#B6D7A8','#F4CCCC',];
        
            for (var i = 0; i < labels.length; i++) {
                var label = labels[i];
                var cor = cores[i];
                var count = statusData[label];
                var percentual = ((count / totalFormularios) * 100);
        
                // Cria um elemento de legenda
                var legendItem = $('<div class="legend-item"></div>');
                var colorBox = $('<div class="legend-color-box"></div>').css('background-color', cor);
                var legendText = $('<span class="legend-text"></span>').text(label + ' (' + percentual + '%)');
        
                // Adiciona o elemento de legenda ao contêiner
                legendItem.append(colorBox).append(legendText);
                legendContainer.append(legendItem);
            }
        }
        

      
        // Função para atualizar o gráfico
        function atualizarGrafico(statusData) {
            var labels = Object.keys(statusData);
            var data = Object.values(statusData);
        
            // Atualiza o gráfico com os novos dados
            myChart.data.labels = labels;
            myChart.data.datasets[0].data = data;
        
            // Se necessário, ajuste o máximo no eixo y
            myChart.options.scales.y.max = totalFormularios;
        
            myChart.update();
        }
        
    
        // Chama a função ao carregar a página para configurar os valores padrão
        $(document).ready(function () {
            configurarValoresPadrao();
        });
    
        // Função para configurar os valores padrão
        function configurarValoresPadrao() {
            var anoSelecionado = $('#anoDropdown').val();
            var ctx = document.getElementById('statusChart').getContext('2d');
            var totalFormularios = parseInt($('#totalFormularios').text());
            var cores = ['#A4C2F4', '#B4A7D6','#FFE599', '#B6D7A8','#F4CCCC',];

            // Inicializa o gráfico
            myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Formulario',
                        data: [],
                        backgroundColor: cores,
                        borderColor: cores,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true
                        },
                        y: {
                            beginAtZero: true,
                            max: totalFormularios 
                        }
                    },
                    legend: {
                            display: false
                    },
                    title: {
                        display: true
                    },
                    maintainAspectRatio: true,
                    responsive: true,
                }
            });

            atualizarTotaisEAtualizarGrafico(anoSelecionado);
        }

    
        // Adiciona um evento para chamar a função quando o ano é alterado
        $('#anoDropdown').change(function() {
            var anoSelecionado = $(this).val();
            atualizarTotaisEAtualizarGrafico(anoSelecionado);
        });
    </script>
    
        
 
{% endblock %}
